<?xml version="1.0" encoding="UTF-8"  ?>
<Configuration monitorInterval="5" packages="org.apache.logging.log4j.nosql.appender">
    <properties>
        <property name="name">fep_server</property>
        <property name="pattern">%marker %d{yyyy-MM-dd HH:mm:ss.SSS} | %-5.5p | [%10.10t] | %-20.20C:%-5.5L | %msg%n</property>
    </properties>


    <!-- Appender, Layout 설정 -->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>



        <RollingFile name="RollingFile" bufferedIO="true" bufferSize="800" immediateFlush="true" fileName="/var/log/videounse/signal/signal.log"
                     filePattern="/var/log/videounse/signal/$${date:yyyy-MM}/signal-%d{yyyy-MM-dd}-%i.log.gz">
            <JSONLayout complete="false" compact="true" eventEol="true" locationInfo="true" properties="true"></JSONLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>

    </Appenders>


    <Loggers>

        <logger name="org.vibur.dbcp" additivity="false">
            <level value="debug"/>
            <appender-ref ref="console"/>
        </logger>



        <Root level="INFO">
            <!-- Logger 설정          -->
            <AppenderRef ref="console"/>

        </Root>
    </Loggers>

</Configuration>